/* 레이아웃 */
.area {max-width: 146rem; margin: 0 auto; padding: 0 2rem;}

/* 헤더 */
.wrap-header .area {display: flex; justify-content: space-between; align-items: center; height: 8rem;}
.wrap-header .left {display: flex; justify-content: center; align-items: center;}
.wrap-header .left .logo {width: 19rem; margin-right: 7rem; font-family: gbl; font-size: 3rem;}
.wrap-header .left .menu ul {display: flex; align-items: center;}
.wrap-header .left .menu li {margin-right: 4rem;}
.wrap-header .left .menu a {font-family: gb; font-size: 1.6rem;}
.wrap-header .left .menu li.on a,
.wrap-header .left .menu a:hover {color: #FF5733;}
.wrap-header .right .util {display: flex; align-items: center;}
.wrap-header .right .util .price {font-size: 1.3rem;}
.wrap-header .right .util .price .dolor {padding-left: 1rem; color: #FF5733;}
.wrap-header .right .util .buy button {display: flex; justify-content: center; align-items: center; height: 3.6rem; margin-left: 3rem; background: #FF5733; padding: 0 1rem; border-radius: .8rem; line-height: 1; color: #fff;}

@media screen and (max-width: 1000px) {
	.wrap-header .right {display: none;}
}

@media screen and (max-width: 710px) {
	.wrap-header .area {height: auto;}
	.wrap-header .left {width: 100%; flex-wrap: wrap; justify-content: flex-start;}
	.wrap-header .left .logo {width: 100%; margin-right: 0; margin-top: 3rem;}
	.wrap-header .left .menu {width: 100%; margin-top: 2rem; padding: 1.5rem 0; border-top: 1px solid rgba(255,255,255,.2); border-bottom: 1px solid rgba(255,255,255,.2);}
	.wrap-header .left .menu li {margin-right: 2.5rem;}
}

/* 메인 */
.wrap-main {display: flex; align-items: flex-start; padding-top: 5rem;}
.wrap-main .cart {position: sticky; left: 0; top: 4rem; flex-shrink: 0; width: 40rem;}
.wrap-main .cart .title strong {font-family: gb; font-size: 2.8rem;}
.wrap-main .cart .title p {margin-top: 1rem; line-height: 1; font-size: 2.8rem; color: #FF5733;}
.wrap-main .cart .color ul {display: flex; align-items: center; margin-top: 2.5rem;}
.wrap-main .cart .color li {margin-right: 1rem;}
.wrap-main .cart .color button {width: 3.6rem; height: 3.6rem; border-radius: 10rem;}
.wrap-main .cart .color .color1 button {background: #000; border: 1px solid #1e1e1e;}
.wrap-main .cart .color .color2 button {background: #fff;}
.wrap-main .cart .color .color3 button {background: #124A86;}
.wrap-main .cart .color .color4 button {background: #C21D0B;}
.wrap-main .cart .size {display: none; margin-top: 2.5rem;}
.wrap-main .cart .size ul {display: flex; justify-content: space-between; align-items: center; gap: 0 1rem;}
.wrap-main .cart .size li {width: 33.333%;}
.wrap-main .cart .size button {display: flex; justify-content: center; align-items: center; width: 100%; height: 3.6rem; border: 1px solid #1e1e1e; border-radius: .8rem; line-height: 1;}
.wrap-main .cart .size button:hover {background: #ffa48f8b; border-color: #FF5733; color: #FF5733;}
.wrap-main .cart .add {display: none; margin-top: 2rem;}
.wrap-main .cart .add button {display: flex; justify-content: center; align-items: center; width: 100%; height: 3.6rem; background: #FF5733; border-radius: .8rem; color: #050100;}
.wrap-main .cart .detail {padding: 2rem 0; border-top: 1px solid rgba(255,255,255,.2);}
.wrap-main .cart .detail1 {margin-top: 3rem;}
.wrap-main .cart .detail strong {font-size: 1.4rem;}
.wrap-main .cart .detail p {padding-top: 1rem; font-family: gr; font-size: 1.4rem; color: rgba(255,255,255,.7);}

.wrap-main .desc {flex-grow: 1; padding-left: 7rem; font-size: 1.7rem; padding-bottom: 7rem;}
.wrap-main .desc.loading {padding: 20rem 0; text-align: center; font-family: gr; font-size: 2rem; color: rgba(255,255,255,.7);}
.wrap-main .desc.error {padding: 20rem 0; text-align: center; font-size: 2rem; color: red;}
.wrap-main .big-font {font-family: pb; font-size: 9rem; text-align: center; letter-spacing: .7rem; line-height: 1.2;}
.wrap-main .big-font span {font-family: gt;}
.wrap-main .big-img {margin-top: 7rem;}

.wrap-main .model {margin-top: 8rem;}
.wrap-main .model .title {font-family: gb; font-size: 4rem; text-align: center;}
.wrap-main .model .list {margin-top: 4rem;}
.wrap-main .model .list ul {display: flex;}
.wrap-main .model .list li {width: 33.333%; padding: 3rem; border-right: 1px solid #282727;}
.wrap-main .model .info {display: flex; flex-direction: column; align-items: center; padding: 2rem 0; border-bottom: 1px solid #282727;}
.wrap-main .model .info span {font-size: 1.7rem;}
.wrap-main .model .info strong {margin: 1rem 0; font-family: gbl; font-size: 4.8rem; color: #ff5733;}
.wrap-main .model .info button {display: flex; justify-content: center; align-items: center; width: 100%; height: 3.6rem; background: #ff5733; border-radius: .8rem; color: #000;}
.wrap-main .model .icons .box {display: flex; flex-direction: column; align-items: center; padding: 3rem; border-bottom: 1px solid #282727;}
.wrap-main .model .icons .icon img {max-width: 7rem;}
.wrap-main .model .icons strong {margin: 1rem 0; font-size: 1.7rem;}
.wrap-main .model .icons p {font-size: 1.5rem;}

@media screen and (max-width: 1220px) {
	.wrap-main {flex-wrap: wrap; padding-top: 3rem;}
	.wrap-main .cart {position: static; width: 100%;}
	.wrap-main .desc {padding-left: 0; padding-top: 3rem;}
}

@media screen and (max-width: 710px) {
	.wrap-main .cart {display: none;}
	.wrap-main .desc {padding-top: 0;}
}

/* 무비앱 */
.wrap-movie {padding: 2rem 3rem; background: #1F1F29; border-radius: 1rem;}
.wrap-movie .header {display: flex; justify-content: space-between; align-items: center; margin-bottom: 2rem;}
.wrap-movie .header .people {display: flex; align-items: center;}
.wrap-movie .header .people .thumb {width: 4rem;}
.wrap-movie .header .people .info {display: flex; flex-direction: column; align-items: flex-start; margin-left: 2rem;}
.wrap-movie .header .people .info span {font-family: gl; font-size: 1.2rem; color: #B9C1D9;}
.wrap-movie .header .people .info strong {margin-top: .3rem;}
.wrap-movie .header .menu img {width: 2rem;}

.wrap-movie .search {position: relative; display: flex; align-items: center; height: 5rem; background: #131316; border-radius: .75rem;}
.wrap-movie .search .search {position: absolute; left: 0; top: 0; width: 6rem; height: 100%; background: url('/images/ic-movie-search.png') no-repeat center / 2rem auto; text-indent: -9999rem;}
.wrap-movie .search .filter {position: absolute; right: 0; top: 0; width: 6rem; height: 100%; background: url('/images/ic-movie-filter.png') no-repeat center / 2rem auto; text-indent: -9999rem;}
.wrap-movie .search input {width: 100%; padding: 0 6rem; background: transparent; font-family: gr; font-size: 1.6rem; color: #fff;}

.wrap-movie .tab {margin-top: 2rem;}
.wrap-movie .tab ul {display: flex; justify-content: space-between; align-items: center; gap: 0 2rem;}
.wrap-movie .tab li {width: 25%;}
.wrap-movie .tab button {display: flex; justify-content: center; align-items: center; width: 100%; height: 3.5rem; background: #515053; border-radius: 1rem; color: rgba(255,255,255,.7);}
.wrap-movie .tab .on button,
.wrap-movie .tab button:hover {background: #3A21D9; color: #fff;}

.wrap-movie .list {margin-bottom: 2rem;}
.wrap-movie .list > ul {display: flex; flex-wrap: wrap; width: calc(100% + 2rem)}
.wrap-movie .list > ul > li {width: 33.333%; margin-top: 3rem;}
.wrap-movie .list > ul > li.nodata {width: 100%; padding: 2rem 0; text-align: center; font-family: gr;}
.wrap-movie .list a {display: block; padding-right: 2rem;}
.wrap-movie .list .thumb img {width: 100%; border-radius: 1rem;}
.wrap-movie .list .subject {margin-top: 3rem; text-align: center; font-family: gm; font-size: 1.6rem; color: rgba(255,255,255,.7);}
.wrap-movie .list .star {display: flex; justify-content: center; align-items: center; margin-top: .5rem;}
.wrap-movie .list .star img {width: 2rem;}

@media screen and (max-width: 710px) {
	.wrap-movie {padding: 1.8rem 2rem;}
	.wrap-movie .tab ul {gap: 0 1rem;}
	.wrap-movie .list > ul > li {width: 50%;}
}

@media screen and (max-width: 570px) {
	.wrap-movie .list > ul {width: 100%;}
	.wrap-movie .list > ul > li {width: 100%;}
	.wrap-movie .list a {padding-right: 0;}
}

/* 무비 디테일 */
.wrap-movie-detail > .thumb {overflow: hidden; position: relative; max-width: 58rem;}
.wrap-movie-detail > .thumb img {border-radius: 2rem;}
.wrap-movie-detail > .thumb .play {position: absolute; left: 50%; top: 50%; z-index: 1; transform: translate(-50%, -50%);}
.wrap-movie-detail > .thumb .play img {width: 8rem;}

.wrap-movie-detail .badge {display: flex; justify-content: space-between; align-items: center; margin-top: 3rem;}
.wrap-movie-detail .badge ul {display: flex; align-items: center;}
.wrap-movie-detail .badge li {display: flex; align-items: center; height: 3.5rem; margin-right: 1.5rem; padding: 0 1rem; background: #312F35; border-radius: 1rem; font-size: 1.6rem;}
.wrap-movie-detail .badge .star img {position: relative; top: -.15rem; width: 2rem; margin-right: .2rem;}

.wrap-movie-detail .like {display: none;}
.wrap-movie-detail .like img {width: 2.5rem;}
.wrap-movie-detail .info .title {font-size: 2.5rem; margin-top: 3rem;}
.wrap-movie-detail .info .text {font-family: gm; font-size: 1.6rem; margin-top: 1.5rem; line-height: 1.4;}

.wrap-movie-detail .actor .title {font-size: 2.5rem; margin-top: 3rem;}
.wrap-movie-detail .actor .list {margin-top: 3rem;}
.wrap-movie-detail .actor .list ul {display: flex;}
.wrap-movie-detail .actor .list li {display: flex; flex-direction: column; align-items: center; margin-right: 2rem;}
.wrap-movie-detail .actor .list .thumb img {width: 11rem; border-radius: 1rem;}
.wrap-movie-detail .actor .list .name {font-family: gm; margin-top: 1rem; font-size: 1.4rem;}

.wrap-movie-detail .button {margin-top: 3rem;}
.wrap-movie-detail .button button {display: flex; justify-content: center; align-items: center; width: 100%; height: 4.5rem; background: #F5C518; border-radius: .6rem; font-size: 1.8rem; color: #fff;}

@media screen and (max-width: 710px) {
	.wrap-movie-detail img {width: 100%;}
}

/* 무비 팝업 */
.wrap-youtube {position: fixed; left: 0; top: 0; z-index: 100; display: flex; justify-content: center; align-items: center; width: 100%; min-height: 100%; background: rgba(0,0,0,.5); backdrop-filter: blur(1rem) grayscale(.5);}
.wrap-youtube .box-youtube {position: relative;}
.wrap-youtube .box-youtube .close {position: absolute; left: calc(100% + 1rem); bottom: calc(100% + 1rem); width: 1.8rem; height: 1.8rem; background: url('/images/btn-youtube-close.png') no-repeat center / 1.8rem auto; text-indent: -9999rem;}